# <center> Exercices Python </center>

**source :**
- https://developpement-informatique.com/article/318/exercices-corriges-sur-les-boucles-en-java-python-et-langage-c

### Écrivez un programme pour afficher tous les nombres naturels de 1 à n en utilisant la boucle for et while.

In [18]:
def nat_number(a):
    for x in range(1,a+1):
        print(x)

In [19]:
nat_number(5)

1
2
3
4
5

### Écrivez un programme pour afficher tous les nombres naturels en sens inverse de n à 1 en utilisant la boucle for et while.

In [25]:
def nat_numbers(a):
    for x in range(a, 0, -1):
        print(x)

In [26]:
nat_numbers(5)

5
4
3
2
1

### Écrivez un programme pour afficher tous les nombres pairs de 1 à n en utilisant la boucle for et while.

In [29]:
def pairs(a):
    for i in range(1, a+1):
        if (i % 2 == 0):
            print(i, end=" ")

In [35]:
pairs(11)

2 4 6 8 10

In [40]:
def nb(a):
    for x in range(1, a+1):
        if x % 2 == 0 :
            print(x, end=" ")

In [41]:
nb(11)

2 4 6 8 10

### Écrivez un programme pour afficher tous les nombres impairs de 1 à n en utilisant la boucle for et while.

In [42]:
def impairs(a):
    for x in range(1, a+1):
        if x % 2 != 0 :
            print(x, end=' ')

In [43]:
impairs(11)

1 3 5 7 9 11

### Écrivez un programme pour trouver la somme de tous les nombres naturels entre 1 et n en utilisant la boucle for et while

In [67]:
def somme_1(a):
    liste = [x for x in range(1, a+1)]
    return sum(liste)

In [163]:
somme_1(30)

465

In [164]:
def somme_2(a):
    somme = 0
    for i in range(1, a+1):
        somme += i
    return somme

In [165]:
somme_2(30)

465

### Écrivez un programme pour saisir le nombre d'utilisateurs et trouvez la somme de tous les nombres pairs entre 1 et n en utilisant la boucle "for" et "while"

In [168]:
def somme_pairs_1(a):
    liste = [x for x in range(1, a+1) if x % 2 == 0]
    return sum(liste)

In [170]:
somme_pairs_1(13)

42

In [4]:
def somme(a):
    somme = 0
    for i in range(2, a+1, 2):
        somme += i
    return somme

In [5]:
somme(13)

42

### Écrire un programme pour saisir un nombre à partir de l'utilisateur et afficher la table de multiplication du nombre donné en utilisant la boucle "for" et "while"

In [10]:
def table(a):
    for x in range(1, 11):
        print(x, "x", a, "=", x*a)

In [11]:
table(4)

1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

In [12]:
def table_m(a):
    for i in range(1, 11):
        print("{0} * {1} = {2}".format(a, i, i*a))

In [13]:
table(9)

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90