# <center> Exercices avec Python </center>

**Source :** livre

## 1 - Écrivez un programme qui calcule le volume d’un parallépipède rectangle dont sont fournis au départ la largeur, la hauteur et la profondeur.

In [1]:
# Volume = A x B x C 

def volume_paral_rect(largeur, hauteur, profondeur):
    volume = largeur * hauteur * profondeur
    return volume

In [2]:
# exemple :
volume_paral_rect(15, 5, 5)

375

## 2- Écrivez un programme qui convertit un nombre entier de secondes fourni au départ en un nombre d’années, de mois, de jours, de minutes et de secondes (utilisez l’opérateur modulo : %).

In [65]:
def convertisseur(nb_secondes):
    # formules
    minutes = 60
    heure = 60*minutes
    jour = 24*heure
    mois = 30*jour
    annee = 365*jour
    
    # calculs
    nb_s = nb_secondes
    nb_m = nb_secondes / minutes
    nb_j = nb_secondes / jour
    nb_mois = nb_secondes / mois
    nb_annee = nb_secondes / annee
    
    # affichage
    print("secondes :", nb_s)
    print("minutes :", nb_m)
    print("jour :", nb_j)
    print("mois :", nb_mois)
    print("année :", nb_annee)

In [66]:
convertisseur(31_536_000)

secondes : 31536000
minutes : 525600.0
jour : 365.0
mois : 12.166666666666666
année : 1.0

In [63]:
def convertisseur(s):
    m = s // 60
    s = s % 60
    h = m // 60
    m = m % 60
    jour = h // 24
    h = h % 24
    mois = jour // 30
    jour = jour % 30
    annee = jour // 365
    jour = jour % 365
    
    print("secondes :", s)
    print("minutes :", m)
    print("heures :", h)
    print("jours :", jour)
    print("mois :", mois)
    print("années :", annee)

In [64]:
convertisseur(31_536_000)

secondes : 0
minutes : 0
heures : 0
jours : 5
mois : 12
années : 0

In [61]:
def convertisseur(nb_secondes):
    # formules
    minutes = 60
    heure = 60*minutes
    jour = 24*heure
    mois = 30*jour
    annee = 365*jour
    
    # calculs
    nb_s = nb_secondes
    reste = nb_secondes % annee
    return reste
#     nb_m = nb_secondes / minutes
#     nb_j = nb_secondes / jour
#     nb_mois = nb_secondes / mois
    
    
#     # affichage
#     print("secondes :", nb_s)
#     print("minutes :", nb_m)
#     print("jour :", nb_j)
#     print("mois :", nb_mois)
#     print("année :", nb_annee)

In [62]:
convertisseur(31_536_000)

0

In [54]:
# nb secondes pour 1 année
annee = 365*jour
print("annee :", annee)

# pour 1 mois 
mois = 30*jour
print("mois :", mois)

# pour 1 jour
jour = 24*heure
print("jour :", jour)

heure = 60*minutes
print("heure :", heure)

minutes = 60

annee : 31536000
mois : 2592000
jour : 86400
heure : 3600

In [44]:
60**3

216000

In [36]:
12 * 30

360

In [34]:
nb_secondes = 500_000

secondes = nb_secondes
minutes = nb_secondes % 60
print("minutes :", minutes)
heures = nb_secondes % (60*60)
print("heures :", heures)
jours = nb_secondes % 24*(60*60)
print("jours :", jours)
mois = jours % 30*(24*(60*60))
print("mois :", mois)
annees = mois % 12*(30*(24*(60*60)))
print("années :", annees)

minutes : 20
heures : 3200
jours : 28800
mois : 0
années : 0

In [18]:
minutes = 60
heure = 60*60
jour = heure * 12
mois = jour * 30
annee = mois * 12
annee

15552000

In [23]:
nb_secondes = 250_000_000

print("minutes :", nb_secondes / minutes)
print("heures :", nb_secondes / heure)
print("jour :", nb_secondes / jour)
print("mois : ", nb_secondes / mois)
print("annee :", nb_secondes / annee)

minutes : 4166666.6666666665
heures : 69444.44444444444
jour : 5787.037037037037
mois :  192.90123456790124
annee : 16.075102880658438

---

### Écrivez un programme qui affiche les 20 premiers termes de la table de multiplication par 7, en signalant au passage (à l’aide d’une astérisque) ceux qui sont des multiples de 3.

Exemple : `7 14 21 * 28 35 42 * 49`

In [79]:
for x in range(1, 21):
    resultat = x * 7
    if resultat % 3 == 0 :
        print(resultat , "*", end=" ")
    else : 
        print(resultat, end=" ")

7 14 21 * 28 35 42 * 49 56 63 * 70 77 84 * 91 98 105 * 112 119 126 * 133 140

### Écrivez un programme qui calcule les 50 premiers termes de la table de multiplication par 13, mais n’affiche que ceux qui sont des multiples de 7.

In [82]:
for x in range(1, 51):
    resultat = x * 13
    if resultat % 7 == 0 :
        print(resultat, end=" ")

91 182 273 364 455 546 637

###  Écrivez un programme qui affiche la suite de symboles suivante :
`*`

`**`

`***`

`****`

`*****`

`******`

`*******`

In [3]:
symbole = "*"

for x in range(7):
    print(symbole)
    symbole += "*"

*
**
***
****
*****
******
*******

### Écrivez un programme qui convertisse en radians un angle fourni au départ en degrés, minutes, secondes.

### Écrivez un programme qui convertisse en degrés, minutes, secondes un angle fourni au départ en radians.

### Écrivez un programme qui convertisse en degrés Celsius une température exprimée au départ en degrés Fahrenheit, ou l’inverse.

In [107]:
# convertir des Farenheit en degré C
def Farenheit(valeur):
    calcul = (valeur - 32) / 1.8
    return round(calcul, 2)
    
# convertir des degrés C en Farenheit
def degre(valeur):
    calcul = (valeur * 9/5) + 32
    return calcul

### Écrivez un programme qui calcule les intérêts accumulés chaque année pendant 20 ans, par capitalisation d’une somme de 100 euros placée en banque au taux fixe de 4,3 %

In [124]:
somme = 100

for x in range(20): 
    interets = somme * 4.3 / 100 
    somme += interets
    print(somme)

104.3
108.7849
113.4626507
118.3415446801
123.4302311013443
128.73773103870212
134.27345347336632
140.04721197272107
146.06924208754808
152.35021949731265
158.9012789356971
165.73403392993205
172.86059738891913
180.29360307664265
188.0462280089383
196.13221581332266
204.56590109329554
213.36223484030725
222.53681093844045
232.10589380879338

### Le problème du jeu d'échec :

Une légende de l’Inde ancienne raconte que le jeu d’échecs a été inventé par un vieux sage, que son roi voulut remercier en lui affirmant qu’il lui accorderait n’importe quel cadeau en récompense.
Le vieux sage demanda qu’on lui fournisse simplement un peu de riz pour ses vieux
jours, et plus précisément un nombre de grains de riz suffisant pour que l’on puisse en déposer
1 seul sur la première case du jeu qu’il venait d’inventer, deux sur la suivante, quatre sur la troisième, et ainsi de suite jusqu’à la 64e case.

Écrivez un programme Python qui affiche le nombre de grains à déposer sur chacune des 64 cases du jeu. 
Calculez ce nombre de deux manières :

• le nombre exact de grains (nombre entier) ;

• le nombre de grains en notation scientifique (nombre réel).

In [160]:
for i in range(64):
    print("case {0} : {1}".format(i+1, 2**i))
    print("case {0} : {1:.4}".format(i+1, 2.0**i))

case 1 : 1
case 1 : 1.0
case 2 : 2
case 2 : 2.0
case 3 : 4
case 3 : 4.0
case 4 : 8
case 4 : 8.0
case 5 : 16
case 5 : 16.0
case 6 : 32
case 6 : 32.0
case 7 : 64
case 7 : 64.0
case 8 : 128
case 8 : 128.0
case 9 : 256
case 9 : 256.0
case 10 : 512
case 10 : 512.0
case 11 : 1024
case 11 : 1.024e+03
case 12 : 2048
case 12 : 2.048e+03
case 13 : 4096
case 13 : 4.096e+03
case 14 : 8192
case 14 : 8.192e+03
case 15 : 16384
case 15 : 1.638e+04
case 16 : 32768
case 16 : 3.277e+04
case 17 : 65536
case 17 : 6.554e+04
case 18 : 131072
case 18 : 1.311e+05
case 19 : 262144
case 19 : 2.621e+05
case 20 : 524288
case 20 : 5.243e+05
case 21 : 1048576
case 21 : 1.049e+06
case 22 : 2097152
case 22 : 2.097e+06
case 23 : 4194304
case 23 : 4.194e+06
case 24 : 8388608
case 24 : 8.389e+06
case 25 : 16777216
case 25 : 1.678e+07
case 26 : 33554432
case 26 : 3.355e+07
case 27 : 67108864
case 27 : 6.711e+07
case 28 : 134217728
case 28 : 1.342e+08
case 29 : 268435456
case 29 : 2.684e+08
case 30 : 536870912
case 30 : 5.369e+08
case 31 : 1073741824
case 31 : 1.074e+09
case 32 : 2147483648
case 32 : 2.147e+09
case 33 : 4294967296
case 33 : 4.295e+09
case 34 : 8589934592
case 34 : 8.59e+09
case 35 : 17179869184
case 35 : 1.718e+10
case 36 : 34359738368
case 36 : 3.436e+10
case 37 : 68719476736
case 37 : 6.872e+10
case 38 : 137438953472
case 38 : 1.374e+11
case 39 : 274877906944
case 39 : 2.749e+11
case 40 : 549755813888
case 40 : 5.498e+11
case 41 : 1099511627776
case 41 : 1.1e+12
case 42 : 2199023255552
case 42 : 2.199e+12
case 43 : 4398046511104
case 43 : 4.398e+12
case 44 : 8796093022208
case 44 : 8.796e+12
case 45 : 17592186044416
case 45 : 1.759e+13
case 46 : 35184372088832
case 46 : 3.518e+13
case 47 : 70368744177664
case 47 : 7.037e+13
case 48 : 140737488355328
case 48 : 1.407e+14
case 49 : 281474976710656
case 49 : 2.815e+14
case 50 : 562949953421312
case 50 : 5.629e+14
case 51 : 1125899906842624
case 51 : 1.126e+15
case 52 : 2251799813685248
case 52 : 2.252e+15
case 53 : 4503599627370496
case 53 : 4.504e+15
case 54 : 9007199254740992
case 54 : 9.007e+15
case 55 : 18014398509481984
case 55 : 1.801e+16
case 56 : 36028797018963968
case 56 : 3.603e+16
case 57 : 72057594037927936
case 57 : 7.206e+16
case 58 : 144115188075855872
case 58 : 1.441e+17
case 59 : 288230376151711744
case 59 : 2.882e+17
case 60 : 576460752303423488
case 60 : 5.765e+17
case 61 : 1152921504606846976
case 61 : 1.153e+18
case 62 : 2305843009213693952
case 62 : 2.306e+18
case 63 : 4611686018427387904
case 63 : 4.612e+18
case 64 : 9223372036854775808
case 64 : 9.223e+18