# <center> Optimisation de code avec Python </center>

*source :* https://medium.com/techtofreedom/9-fabulous-python-tricks-that-make-your-code-more-elegant-bf01a6294908

## 1- Améliorer les boucles imbriquées

### Exemple :

In [1]:
list_a = [1, 2020, 70]
list_b = [2, 4, 7, 2000]
list_c = [3, 70, 7]

for a in list_a:
    for b in list_b:
        for c in list_c:
            if a + b + c == 2077:
                print(a, b, c)

70 2000 7

### Avec `product()` Function :

In [2]:
from itertools import product

list_a = [1, 2020, 70]
list_b = [2, 4, 7, 2000]
list_c = [3, 70, 7]

for a, b, c in product(list_a, list_b, list_c):
    if a + b + c == 2077:
        print(a, b, c)

70 2000 7

## 2- Walrus Operator

In [3]:
print(test:="Ceci est un test")

Ceci est un test

## 3- Écrire une structure simple *If-Else* sur une seule ligne

### Exemple :

In [4]:
if a < b :
    min = a
else:
    min = b

### Peut s'écrire :

In [5]:
min = a if a < b else b

## 4- Lambda function

### Exemple :

In [6]:
# fonction suite de Fibonacci
def fib(x):
    if x<=1:
        return x
    else:
        return fib(x-1) + fib(x-2)

### Avec une fonction lambda :

In [7]:
fib = lambda x: x if x <= 1 else fib(x - 1) + fib(x - 2)

## 5- Les compréhensions de liste

In [10]:
pays = ["Belgique", "France", "Angleterre", "Allemagne"]
# ajouter les pays commençant par A, les autres sont remplacés par 'Not A'
pays_A = [country if country.startswith('A') else 'Not A' for country in pays]

print(pays_A)

['Not A', 'Not A', 'Angleterre', 'Allemagne']

In [18]:
# Ajouter à une nouvelle liste les pays commençant par la lettre A
test = [country for country in pays if country.startswith('A')]
print(test)

['Angleterre', 'Allemagne']

## 6- La fonction `map()`

In [19]:
names = ['yAnG', 'MASk', 'thoMas', 'LISA']
names = map(str.capitalize, names)
print(list(names))

['Yang', 'Mask', 'Thomas', 'Lisa']

## 7- La fonction `reduce()`

In [20]:
from functools import reduce

city = ['L', 'o', 'n', 'd', 'o', 'n', 2, 0, 2, 0]
city_to_str = reduce(lambda x, y: str(x) + str(y), city)
print(city_to_str)

London2020

## 8- Union Operators : 

Fonctionne avec Python 3.9

In [ ]:
# pour fusionner (merge) deux dictionnaires :
cities_us = {'New York City': 'US', 'Los Angeles': 'US'}
cities_uk = {'London': 'UK', 'Birmingham': 'UK'}

# union operator
cities = cities_us|cities_uk
print(cities)

In [ ]:
cities_us = {'New York City': 'US', 'Los Angeles': 'US'}
cities_uk = {'London': 'UK', 'Birmingham': 'UK'}

cities_us |= cities_uk
print(cities_us)

### Fusioner 2 dictionnaires (sans la version 3.9)

In [24]:
{**cities_us, **cities_uk}

{'New York City': 'US',
 'Los Angeles': 'US',
 'London': 'UK',
 'Birmingham': 'UK'}

## 9- F-Strings:

In [28]:
pi = 3.1415926
print(f'Pi is approximately equal to {pi:.2f}')

Pi is approximately equal to 3.14

In [29]:
id = 1  # need to print a 3-digit number
print(f"The id is {id:03d}")

The id is 001

In [31]:
# ajouter une virgule (séparateur)
N = 1000000000 
print(f'His networth is ${N:,d}')

His networth is $1,000,000,000

In [32]:
# afficher la date et l'heure
from datetime import datetime

print(f"Today is {datetime.today()}")

Today is 2022-12-01 10:27:40.891781

## 10- Fusionner une liste, un set et un tupple en 1 seule liste :

In [33]:
A = [1, 2, 3]
B = (4, 5, 6)
C = {7, 8, 9}

L = [*A, *B, *C]
print(L)

[1, 2, 3, 4, 5, 6, 8, 9, 7]

In [34]:
# autre exemple : déstructurer les affectations
a, *mid, b = [1, 2, 3, 4, 5, 6]
print(a, mid, b)

1 [2, 3, 4, 5] 6