# <center> Gestion de fichiers txt </center>

**source :**

- https://www.w3schools.com/python/python_file_open.asp
- https://www.pythontutorial.net/python-basics/python-read-text-file/

## Créer un fichier txt

In [ ]:
with open('nom_fichier.txt', 'w') as file:
    file.write('texte à écrire')

### Ajouter un ligne au fichier

In [ ]:
with open('nom_fichier.txt', 'a') as file :
    file.write('ajouter du texte')

## Ouvrir et lire un fichier txt

In [9]:
f = open("biblio.txt", "r")
print(f.read())
f.close()

François Dosse , Pierre Vidal-Naquet : une vie , La Découverte, Paris, 2020, 9782707194213
François Hartog , Chronos : l'Occident aux prises avec le temps , Gallimard, Paris, 2020, 9782072893070
François Hartog , [Anciens, Modernes, Sauvages] , Point, Paris, 2008, 9782757806869
François Dosse , Pierre Nora : homo historicus , Perrin, Paris, 2011, 9782262033798
Pierre Bourdieu , Homo academicus , les Éditions de Minuit, Paris, 1984, 9782707306968

### Ne lire qu'une ligne

In [10]:
f = open("biblio.txt", "r")
print(f.readline())

# pour lire la deuxième line
# print(f.readline())
f.close()

François Dosse , Pierre Vidal-Naquet : une vie , La Découverte, Paris, 2020, 9782707194213

### Lire ligne par ligne avec une boucle for

In [11]:
f = open("biblio.txt", "r")
for x in f:
    print(x)
    
f.close()

François Dosse , Pierre Vidal-Naquet : une vie , La Découverte, Paris, 2020, 9782707194213

François Hartog , Chronos : l'Occident aux prises avec le temps , Gallimard, Paris, 2020, 9782072893070

François Hartog , [Anciens, Modernes, Sauvages] , Point, Paris, 2008, 9782757806869

François Dosse , Pierre Nora : homo historicus , Perrin, Paris, 2011, 9782262033798

Pierre Bourdieu , Homo academicus , les Éditions de Minuit, Paris, 1984, 9782707306968

## Conversion fichier txt to csv

In [24]:
import pandas as pd

df = pd.read_csv (r'isbn_2.txt', encoding='utf8')
df.to_csv (r'isbn_2.csv', index=None)

print(df)

            ISBN
0  9782707194213
1  9782072893070
2  9782757806869
3  9782262033798
4  9782707306968

## Fonction : conversion fichier txt to csv

In [25]:
# import pandas as pd
# il n'y a qu'indiquer le chemin+nom du fichier (avec l'extension)

def convertir_txt(chemin):
    lire_fichier = pd.read_csv(chemin)
    nom_fichier = input("Entrez le nom du nouveau fichier : ")
    lire_fichier.to_csv (nom_fichier + ".csv", index=None)

In [26]:
# convertir_txt('liste_ISBN.txt')

---

## Lire un fichier txt et récupérer ISBN dans une liste

Problème : caractères invisibles comme le retour chariot ("\n") ce qui fausse la liste et nécessite des traitements supplémentaires

In [29]:
liste_isbn = []

f = open("isbn_2.txt", "r")
for ligne in f:
    liste_isbn.append(ligne)
    
    
f.close()

In [30]:
liste_isbn

['ISBN\n',
 '9782707194213 \n',
 '9782072893070 \n',
 '9782757806869 \n',
 '9782262033798 \n',
 '9782707306968 \n']

# Solution : passer par un csv

In [31]:
# Exemple : 
df

            ISBN
0  9782707194213
1  9782072893070
2  9782757806869
3  9782262033798
4  9782707306968

In [34]:
# On prend chaque ligne du dataframe pour l'ajouter à la liste
ISBN = [x for x in df['ISBN']]

print(ISBN)

[9782707194213, 9782072893070, 9782757806869, 9782262033798, 9782707306968]

## Ajouter une ligne à un fichier txt

### Exemple 1 :

In [36]:
# Open a file with access mode 'a'
file_object = open('sample.txt', 'a')

# Append 'hello' at the end of file
file_object.write('hello')

# Close the file
file_object.close()

### Exemple 2 :

In [41]:
with open('file.txt', 'a') as file:
    file.write('input')